fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
pydantic-settings==2.10.1
websockets==15.0.1
psycopg2-binary==2.9.10
vaderSentiment==3.3.2
transformers==4.56.0
redis==6.4.0
celery==5.5.3
httpx==0.28.1
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.7.1
xgboost==3.0.4
shap==0.48.0
joblib==1.5.2
alembic==1.16.5
pytest==8.4.1
locust==2.37.11
